data/processed/preprocessed_docs_ink_wrds_lancaster.json
data/processed/preprocessed_docs_ink_wrds_porter.json
data/processed/preprocessed_docs_ink_wrds_snowball.json
data/processed/preprocessed_docs_nltk_wrds_lancaster.json
data/processed/preprocessed_docs_nltk_wrds_porter.json
data/processed/preprocessed_docs_nltk_wrds_snowball.json
data/processed/preprocessed_queries_ink_wrds_lancaster.json
data/processed/preprocessed_queries_ink_wrds_porter.json
data/processed/preprocessed_queries_ink_wrds_snowball.json
data/processed/preprocessed_queries_nltk_wrds_lancaster.json
data/processed/preprocessed_queries_nltk_wrds_porter.json
data/processed/preprocessed_queries_nltk_wrds_snowball.json
